/* LandingPage */
.landing-page {
  text-align: center;
}

.user-card-container {
  display: flex;
  overflow-x: auto;
  flex-direction: column; 
  align-items: center; 
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; 
}

.user-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px; 
  margin: 10px; 
  background-color: #f9f9f9;
  width: 250px; 
  cursor: pointer;
  transition: transform 0.2s;
}

.user-card:hover {
  transform: scale(1.05);
}

.user-image {
  width: 70px; 
  height: 70px; 
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin: 0;
}


/* UserCard */
.user-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px; 
  margin: 10px; 
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.2s;
  overflow: hidden; 
  width: 250px; 
}

.user-card:hover {
  transform: scale(1.05);
}

.user-image {
  width: 70px; 
  height: 70px; 
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  margin: 0;
}

/* UserProfile  */
.user-profile {
  text-align: center;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

.profile-details h3 {
  margin-top: 0;
}

.google-map {
  margin-top: 20px;
}